body{
    background-color: #edeaff;
}
.stopwatch{
 
   width:90%;
   max-width:600px;
   background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.png);
   background-position: center;
   background-size: cover;
   margin: 200px auto 0px;
   text-align: center;
   padding:40px 0;
   color: #fff;
   box-shadow:0 10px 10px rgba(0,0,0,0.8)
}
.stopwatch h1{
    
    font-size: 65px;
    font-weight: 100;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
